<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <nav>
        <img src="img/logo.svg" alt="Logo"/>
        <button><img src="img/icons/user.svg" alt="User icon"></button>
    </nav>
</body>
</html>