<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <ul>
        <% data.forEach(item => { %>
            <li>
                <p><%= item.name %></p>
                <img src="https://image.tmdb.org/t/p/w500/<%= item.profile_path %>">
            </li>
        <% }); %>
    </ul>
</body>
</html>