<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <h1 class="visually-hidden">TMDB API: Tinder look alike of actrices and actors</h1>
    <nav>
        <img src="img/logo.svg" alt="Logo"/>
        <button aria-label="Go to your likes profile"><img src="img/icons/user.svg" alt="User icon"></button>
    </nav>
    <main>
        <a href="">
            <article>
                <h2>Hee-Jeong</h2>
                <img src="img/error-img.jpg" alt="Error image"/>
            </article>
        </a>
    </main>
    <section class="section">
        <h3 class="visually-hidden">Dislike or like</h3>

        <button aria-label="Dislike button">
            <img src="img/icons/cross.svg" alt="Cross icon">
        </button>
        <button aria-label="Like button">
            <img src="img/icons/heart.svg" alt="Heart icon">
        </button>
    </section>
</body>
</html>