<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <nav class="nav-single">
        <div>
            <h1><%= data.name %></h1>
            <button aria-label="Go back to the people"><img src="img/icons/arrow-white.svg" alt="Arrow icon"></button>
        </div>
    </nav>

    <section class="sec-single-card">
        <h2>Man</h2>
        <img src="img/error-img.jpg" alt="">
    </section>

    <main class="known">
        <h2>Known for:</h2>
        <article>
            <h3>Name</h3>
            <img src="img/error-img.jpg" alt="">
        </article>
        <article>
            <h3>Name</h3>
            <img src="img/error-img.jpg" alt="">
        </article>
    </main>
</body>
</html>