<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body-single">
   <nav class="nav-single">
        <h1>Hee-jeong</h1>
        <button aria-label="Go back to the people"><img src="img/icons/arrow-white.svg" alt="Arrow icon"></button>
   </nav>
</body>
</html>