form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-around;

    button {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: 2px solid transparent;
        outline-offset: 5px;
        transition: .4s;

        &:first-of-type {
            background: linear-gradient(to bottom left, var(--blue), var(--green));

            &:hover {
                outline: 2px solid var(--blue);
                outline-offset: 5px;
            }
        }

        &:last-of-type {
            background: linear-gradient(to bottom left, var(--orange), var(--pink));

            &:hover {
                outline: 2px solid var(--orange);
                outline-offset: 5px;
            }
        }

        img {
            width: auto;
            height: 30px;
        }
    }
}