@import "./variables.css";
@import "./nav.css";
@import "./cards.css";
@import "./form.css";
@import "./single.css";
@import "./liked.css";
@import "./breakpoints.css";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--font-stack);
    padding: 20px;
    background-color: var(--dark-blue);

    &:has(nav input:checked) {
        .liked {
            display: grid;
        }
    }
}

.body-index {
    height: 100vh;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}